/Guia11Ex02/nbproject/private/
/Guia15JDBC/target/
/Guia15JDBC/nbproject/private/
/Guia15JDBC/build/
/Guia15JDBC/dist/
/testJDBC/nbproject/private/
/testJDBC/build/
/testJDBC/dist/
/Guia15Ej01/nbproject/private/
/Guia15Ej01/build/
/Guia15Ej01/dist/
/Guia15Ej15Ant/nbproject/private/
/Guia15Ej15Ant/build/
/Guia16/nbproject/private/
/nbJPA/nbproject/private/
/nbJPA/dist/
/nbJPA/build/
/Guia16JPA/nbproject/private/
/Guia16JPA/build/
/Guia16JPA/dist/
/Guia16jpa/nbproject/private/
/JPAMaven/target/
/testJpa/nbproject/private/
/testJpa/dist/
/testJpa/build/
/JpaTest/nbproject/private/
/JpaTest/build/
/Guia16Ej01/nbproject/private/
